<%- include partials/header %>
<section class="app-datas">
  <div class="row justify-content-center align-items-center pt-5">
    <div class="col-xs-12 col-md-10">
      <h2 class="text-center d-block py-3">TODOS OS FUNCIONÁRIOS</h2>
      <div class="card shadow px-3 mb-5">
        <% if(msg != ''){ %>
        <div class="alert alert-danger">
          <%= msg %>
        </div>
        <% } %>
        <table class="table table-hover table-responsive">
          <thead>
            <tr>
              <th width="45%">Nome</th>
              <th width="45%">Cargo</th>
              <th width="10%">Quantidade Acumulada</th>
            </tr>
          </thead>
          <tbody>
            <% funcionarios.forEach(funcionario => { %>
            <tr>
              <td>
                <%= funcionario.nome %>
              </td>
              <td>
                <% if(funcionario.cargo == '' || funcionario.cargo == null){ %>
                  CARGO INDEFINIDO
                <% }else{ %>
                  <%= funcionario.cargo %>
                <% } %>
              </td>
              <td><%= funcionario.acumulo %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <div class="card-footer justify-content-center align-items-center d-flex pt-4">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include partials/footer %>